.simplify-main {
  margin: 60px auto;
  position: relative;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.simplify-title {
  margin: 0;
  font-size: 2.5em;
  max-width: 500px;
}

.simplify-para {
  font-size: 18px;
  font-weight: 300;
  color: #666;
  max-width: 600px;
}

.simplify-img {
  margin: 20px 0;
}

.simplify-card-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

/* Responsive */
@media (max-width: 1024px) {
  .simplify-card-container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .simplify-title {
    font-size: 1.6em;
  }

  .simplify-card-container {
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }

  .simplify-card-container > .card-main {
    margin-bottom: 20px;
  }

  .organise-section-main {
    display: none;
  }
}
